
@media screen and (max-width:768px) {
    .box  { 
  color: crimson;
  margin: 30%;
  margin-top: 55%;
  margin-left: 70%;
  /* padding-top: 40%; */
  padding: 4.5%;
  width: 50%;
  height: 50%;
  text-align: center;
}
.box{
    position: absolute;
    top: 0;
    left: 0%;
    font-size: 30px;
    /* transform: translate(-50%,-50%); */
    /* -ms-transform: translate(-50%,-50%); */
  } 
  .img {
      padding-left: 20%;
  }
  #increment-btn {
      border-radius: 12px;
      width: 40%;
      height: 15%;
      background-color: aqua;
      font-weight: 700;
  }
}