
.box  { 
  color: crimson;
  margin: 5rem;
  margin-left: 1rem;
  margin-top: -5rem;
  padding: 2%;
  width: 50%;
  height: 50%;
  text-align: center;
}
.box{
    position: absolute;
    top: 70%;
    left: 48%;
    font-size: 40px;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  } 
  .img {
      padding-left: 20%;
  }
  #increment-btn , #save-btn {
      border-radius: 12px;
      width: 30%;
      height: 20%;
      background-color: midnightblue;
      font-weight: 700;
      color: white;
  }
  #increment-btn {
    margin-bottom: 15px;
    background-color: aqua;
    color: black;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    padding-left: 40%;
  }
  P {
    font-size: 12px;
    font-weight: 700;
    text-decoration: underline;
    text-align: center;
    color: rgb(2, 14, 36);
  }
  #save-el {
    font-size: 20px;
  }